django_admin_autocomplete_filter==0.6.1
isodate==0.6.0
semver==2.8.1
numpy==1.15.3
django_admin_list_filter_dropdown==1.0.3
django_prettyjson==0.4.1
django_silk==4.1.0
Django==3.2.1
django_filter==2.4.0
djangorestframework==3.12.4
django-cors-headers==3.7.0
prettyjson==1.0.3
python-dotenv==0.17.1
python_dateutil==2.8.1
psycopg2==2.8.6
gunicorn==20.1.0
celery==5.0.5